body {
  background-color: #28282b;
  font-family: "Alegreya", serif;
}

.sidebar {
  display: flex;
  background-color: #4c4e52;
  padding: 10px;
  border-radius: 10px;
  font-family: "Alegreya", serif;
  align-items: center;
  width: 350px;
  justify-content: space-around;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar img {
  height: 64px;
  width: 64px;
}

.combine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

#weather-icon {
  width: 30px;
  height: auto;
  margin: 0;
}

.weather-button {
  transition: 0.2s;
}

.weather-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cities-button {
  transition: 0.2s;
}

#cities-icon {
  width: 30px;
  height: auto;
  margin: 0;
}

.cities-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#cities-button-text {
  margin: 0;
}

#settings-icon {
  width: 30px;
  height: auto;
  margin: 0;
}

.settings-button {
  transition: 0.2s;
}

.settings-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#settings-button-text {
  margin: 0;
}

#input {
  background-color: #4c4e52;
  color: white;
  margin: 20px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  font-family: "Alegreya", serif;
  font-size: 15px;
}

.search-and-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input:focus {
  outline: none;
}

#input::placeholder {
  color: white;
}

.name-and-condition {
  display: flex;
  gap: 15px;
}

.name-and-condition img {
  width: 64px;
  height: 64px;
}

.seven-day-forecast {
  background-color: #4c4e52;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

#forecast-text {
  color: white;
  font-family: "Alegreya", serif;
  font-size: 30px;
  margin: 10px;
  margin-top: 50px;
  margin-left: 30px;
}

.forecast-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  margin-left: 30px;
  color: lightgray;
  font-family: "Alegreya", serif;
  font-size: 25px;
}

.forecast-combine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-bottom: white solid 1px;
}

.forecast-combine img {
  width: 64px;
  height: 64px;
  padding: 10px;
}

.condition-text {
  color: white;
  font-family: "Alegreya", serif;
}

.condition-combine {
  display: flex;
  align-items: center;
}

.forecast-high-low {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Alegreya", serif;
  font-size: 20px;
}

.weather-combine {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  font-family: "Alegreya", serif;
}

.weather-right img {
  width: 0px;
  height: auto;
}

.weather-left {
  color: white;
}

#weather-button-text {
  margin: 0;
}

.city-and-rain h1 {
  margin-bottom: 10px;
}

.city-and-rain h5 {
  margin-top: 0;
  color: lightslategray;
}

.hourly-forecast {
  background-color: #4c4e52;
  margin: 50px;
  color: white;
  border-radius: 10px;
}

.hourly img {
  width: 50px;
  height: auto;
}

.hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.hourly-combine {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
}

#todays-forecast {
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 20px;
}

.current-conditions {
  background-color: #4c4e52;
  margin: 50px;
  color: white;
  border-radius: 10px;
}

#current-conditions-text {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  text-align: center;
}

.combine-conditions {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 300px;
}

.cities-list {
  height: 500px;
  overflow: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-right: #af9fc9 solid 1px;
  border-left: #af9fc9 solid 1px;
}

.cities-list h5 {
  margin: 3px;
  color: white;
  font-size: 20px;
}
#settings-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #af9fc9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #af9fc9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#temp-units {
  border: solid 1px #af9fc9;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 20px;
  gap: 10px;
  color: white;
  font-size: 30px;
}

.choose-unit {
  font-size: 20px;
}

#combine-settings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#wind-units {
  border: solid 1px #af9fc9;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 20px;
  gap: 10px;
  color: white;
  font-size: 30px;
}
